@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utilities */

.scrollbar {
    @apply min-h-screen max-h-screen overflow-y-scroll scrollbar-none scroll-smooth hover:scrollbar-thin scrollbar-track-darkGrey scrollbar-thumb-lightGrey/60;
}

/* Misc */

.channel {
    @apply relative w-12 h-12 bg-grey cursor-pointer flex items-center;
}

.channel.active,
.channel.active img {
    border-radius: 1rem;
}

.channel,
.channel img {
    border-radius: 999px;
    transition: border-radius 100ms ease-in-out;
}

.channel:hover,
.channel:hover img {
    border-radius: 1rem;
}

.channel::before {
    content: "";
    position: absolute;
    left: -1rem;

    width: 8%;
    height: 0%;

    border-radius: 0 3px 3px 0;

    background: white;

    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.channel:hover::before {
    left: -0.75rem;
    height: 40%;
}

.active.channel::before {
    left: -0.75rem;
    height: 75%;
}
